<section class="piano-section">

    <h2>VIRTUAL KEYBOARD</h2>

    <div class="keyboard-options">

        <label>

            Keyboard Range

            <select id="keyboardRange">

                <option value="12">
                    1 Octave
                </option>

                <option value="24" selected>
                    2 Octaves
                </option>

                <option value="36">
                    3 Octaves
                </option>

                <option value="48">
                    4 Octaves
                </option>

            </select>

        </label>

    </div>

    <div id="keyboard" class="keyboard">

        <!-- Generado por JavaScript -->

    </div>

</section>